body{
   margin: 0px;
   padding: 0px;
}
form{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid black;
    width: 300px ;
}
div{
    padding: 10px;
}
.Mode{
  text-align:right;

}
.dark{
    color: white;
    background: black;
}
.light{
    color: black;
    background: white;
}