 body {
            background-color: lightblue;
            font-family:Georgia, 'Times New Roman', Times, serif;
            margin: 0px auto;
            padding: 20px;
        }
        .Box {
            background-color: white;
            border: 2px solid black;
            width: 60%;
           margin: auto;
        }
        h1, h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        ul {
            list-style-type: square;
        }
        img {
           display: block;
            margin: 0 auto;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        .short-bio{
           
            align-items: center;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        #fresher{
            text-align: center;
            
            color: rgb(99, 98, 98);
        }
        .icons{
             display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 10%;
            border-top: 2px solid rgb(99, 98, 98);
            border-bottom: 2px solid rgb(99, 98, 98);
            padding: 20px;
            
        }
        .icons li{
            list-style: none;
            
        }
       .icons a{
            text-decoration: none;
            color: black;
            font-size: larger;
            margin-left: 5px;
        }
        .my-skills{
            border-top: 2px solid rgb(99, 98, 98);
            border-bottom: 2px solid rgb(99, 98, 98);
        }
        .project-li a{
            text-decoration: none;
            color: black;
        }
        .project{
            margin-bottom: 50px;
        }