/* External css */
h3{
    background: red;
}
* {
    background: lightskyblue;
}
form{
    
    border-radius: 10px;
}
/* types of CSS selector 
1.simple
2.attribute
3.combinator
4.pseudo
5.element */